# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile
Makefile.in

INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
etr_config.h
etr_config.h.in
install-sh
missing
src/.deps/
src/etr
stamp-h1
/.cproject
/.project
/.settings
/.metadata
/RemoteSystemsTempFiles
